@import "~swiper/swiper.min.css";

.stories-timeline {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 1rem;
  align-self: center;
  z-index: 2;
  filter: 0 0px 5px rgb(0 0 0 / 20%);

  &__item {
    height: 2px;
    background: #555;
    border-radius: 2px;
    transition: opacity 400ms ease-in-out 0s;
    width: 100%;
    opacity: 1;
    overflow: hidden;

    & + & {
      margin-left: 0.5rem;
    }

    &_complete {
      background-color: #fff;
    }
  }

  &__indicator {
    background-color: #fff;
    display: block;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left center;
  }
}

.stories-swiper-holder {
  height: 100%;
}

.stories-swiper {
  height: 100%;

  &__navigation {
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,.7);
    border-radius: 50%;
    width: 51px;
    height: 51px;
    z-index: 1;
    font-size: 2rem;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;

    &_prev {
      left: 25px;
    }

    &_next {
      right: 25px;
    }
  }
}
