.svg-icon {
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;

  path {
    fill: currentColor;
  }

  &_spin {
    animation: svg-icon-spin 2s linear infinite;
  }

  @keyframes svg-icon-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
