$notifier-padding-y: 0.5rem !default;
$notifier-padding-x: 1rem !default;
$notifier-black-color: #c3cfe2 !default;
$notifier-black-box-shadow: 0 3px 30px #a7b4d9 !default;
$notifier-black-background-color: #2d3139 !default;
